
/* Reset default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Body styles */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
}

/* Header styles */
header {
	background-color: #1C1C1C;
	color: #fff;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style: none;
	display: flex;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

.user a {
	color: #fff;
	margin-left: 10px;
	padding: 5px 10px;
	background-color: #2E2E2E;
	border-radius: 5px;
	text-decoration: none;
}

/* Main styles */
main {
	background-color: #F7F7F7;
	padding: 50px 0;
}

main h2 {
	margin-bottom: 20px;
}

/* Footer styles */
footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

footer p {
	margin-bottom: 0;
}
